<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD com.vortex.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--Mapper命名空间,这里调用的是接口类-->
<mapper namespace="com.vortex.Mapper.GodMapper">

    <!--    查询所有神仙-->
    <select id="getGods" resultType="com.vortex.Entity.God">
        SELECT *
        FROM paradise.god
        limit ${offset},${pagesize};
    </select>

    <!--根据神仙id查询神仙-->
    <select id="getGodForId" resultType="com.vortex.Entity.God">
        SELECT *
        FROM paradise.god
        WHERE GodId = ${godid};
    </select>

    <!--添加神仙-->
    <insert id="addGod">
        INSERT INTO paradise.god(GodName, GodSex, GodType, GodDepartment, GodPosition, GodMerit, GodPlace, GodMaster)
        VALUES (#{godName}, #{godSex}, #{godType}, #{godDepartment}, #{godPosition}, #{godMerit}, #{godPlace},
                #{godMaster});
    </insert>

    <!--根据神仙ID删除神仙-->
    <delete id="deleteGod">
        DELETE
        FROM paradise.god
        WHERE GodId = ${godId};
    </delete>


    <update id="updateGod">
        UPDATE paradise.god
        SET GodName=#{godName},
            GodSex=#{godSex},
            GodType=#{godType},
            GodDepartment=#{godDepartment},
            GodPosition=#{godPosition},
            GodMerit=${godMerit},
            GodPlace=#{godPlace},
            GodMaster=#{godMaster}
        WHERE GodId = ${godId};
    </update>

    <select id="getGodCount" resultType="int">
        SELECT count(*)
        FROM paradise.god;
    </select>

    <select id="getGodForType" resultType="com.vortex.Entity.God">
        SELECT *
        FROM (SELECT *
              FROM paradise.god
              WHERE ${type} LIKE concat('%', #{value}, '%'))
        limit ${searchOffset},${searchPageSize};
    </select>

</mapper>