<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vortex.Mapper.MenuMapper">

    <resultMap id="MainMenuMap" type="com.vortex.Entity.Menu.MainMenu">
        <result column="MenuId" property="mainMenuId"/>
        <result column="MenuName" property="mainMenuName"/>
        <result column="MenuIcon" property="mainMenuIcon"/>
        <result column="MenuIndex" property="mainMenuIndex"/>
        <result column="MenuRoute" property="mainMenuRoute"/>
        <result column="MenuChild" property="mainMenuChildren"/>
    </resultMap>

    <select id="getSubMenuById" resultType="com.vortex.Entity.Menu.SubMenu">
        select *
        from paradise.submenu
        where SubMenuId = #{subMenuId};
    </select>

    <select id="listMainMenus" resultMap="MainMenuMap">
        select *
        from paradise.menu;
    </select>

</mapper>
